---
---

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dropdown.css" />

  <title>Data Mining, Web Development, among other things</title>
</head>
<body>
  <header>
    {% include header.html %}
  </header>
  <div class="container">
   
   <div class="right">
    {% for post in site.posts %}
     <a href="{{ site.base_url }}{{ post.url }}">{{page.date}} {{ post.title }}</a>
    {% endfor %}
    </div>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>